<%= form_with(model: @flight, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :departs_at %>
    <%= f.text_field :departs_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :alert_sent, class: "form-check-input" %>
    <%= f.label :alert_sent, class: "form-check-label" %>
  </div>

  <%= f.submit "Create flight", class: "btn btn-block btn-outline-secondary" %>
<% end %>
